.App {
  text-align: center;
  font-family: monospace;
}

body {
  background-image: url(what-the-hex.png);
  background-repeat: inherit;
}

.AppHeader {
  background-image: url(what-the-hex-dark.png);
  height: 70px;
  padding: 20px;
  padding-bottom: 40px;
  color: white;
  font-size: xx-large;
}

.AllMovies{
  display: flex;
  flex-wrap: wrap;
}

.MovieItem{
  width: 200px;
  height: 320px;
  padding: 20px;
  background-color: whitesmoke;
  margin: 10px;
  box-shadow: 7px 10px 5px #222;
  border-radius: 10px;
}

.MovieDescription{
  text-align: center;
  width: 70%;
  padding-left: 15%;
}

.genreSpan{
  padding-left: 5px;
  padding-right: 5px;
  font-size: large;
}